body {
        background-image: url("../images/question-mark.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;    
        background-size: cover;
        margin-bottom: 20%;
}

footer { background-color: black; 
        color: white;
        text-align: center;
}

.container { 
        background-color: grey;
        opacity: .98;
        height: 100%;
        padding: 10px;
        margin-top: 3%;
}

h2 { font-size: 22pt;
    text-align: center; 
    height: 80px;
    padding: 20px;
}

#timeRemain {font-size: 22pt;
        text-align: center;
        padding: 10px;
        padding-bottom: 20px;
        color: white;
}

#time {font-size: 22pt;
        text-align: center;
        padding: 10px;
        color: white;
}

header { font-style: bold;
        background-color: black;
        color: white;   
}

.buttonContain {
        padding-bottom: 20px;
}

#question {
        font-size: 30px;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
        background-color: black;
        color: white;   

}

.btn0, .btn1, .btn2, .btn3 { margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        width: 45%;
        margin: auto;
        height: 50px;
        }

.btn { 
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        width: 45%;
        margin: auto;
        height: 50px;
        margin-left: 25%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
